<header>
  <nav class="navbar navbar-expand-lg navStyle">
    <a class="brand-navbar" href="#"><img src="favicon.ico" alt="Responsive image" height="60px"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu" style="background: red;">
      <span><i class="fas fa-align-right iconStyle"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="mainMenu">
      <ul class="navbar-nav ml-auto navList">
        <li class="nav-item active"><a href="#" class="nav-link"><i class="fas fa-home"></i>HOME<span
              class="sr-only">(current)</span></a></li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fas fa-cogs"></i>Services</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fas fa-briefcase"></i>Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fas fa-phone"></i>Contact</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"><i class="fas fa-users"></i>About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
